In [1]:
import pandas as pd

In [27]:
url = "/Users/aidahalitaj/Desktop/ml-zoomcamp/03-classification/bank+marketing/bank/bank-full.csv"
df = pd.read_csv(url, sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [28]:
df = df[['age', 'job', 'marital', 'education', 'balance', 'housing',
        'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y']]

In [29]:
len(df)

45211

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   contact    45211 non-null  object
 7   day        45211 non-null  int64
 8   month      45211 non-null  object
 9   duration   45211 non-null  int64
 10  campaign   45211 non-null  int64
 11  pdays      45211 non-null  int64
 12  previous   45211 non-null  int64
 13  poutcome   45211 non-null  object
 14  y          45211 non-null  object
dtypes: int64(7), object(8)
memory usage: 5.2+ MB

In [31]:
df['education'].mode()

0    secondary
Name: education, dtype: object

In [32]:
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   contact    45211 non-null  object
 7   day        45211 non-null  int64
 8   month      45211 non-null  object
 9   duration   45211 non-null  int64
 10  campaign   45211 non-null  int64
 11  pdays      45211 non-null  int64
 12  previous   45211 non-null  int64
 13  poutcome   45211 non-null  object
 14  y          45211 non-null  object
dtypes: int64(7), object(8)
memory usage: 5.2+ MB

In [34]:
nr_col = df.select_dtypes(include='number')
nr_col

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

In [35]:
correlation_matrix = nr_col.corr()

correlation_pairs = correlation_matrix.unstack().sort_values(kind="quicksort", ascending=False)
correlation_pairs = correlation_pairs[correlation_pairs != 1]  

top_correlated = correlation_pairs.head(2)

correlation_matrix, top_correlated

(               age   balance       day  duration  campaign     pdays  previous
 age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
 balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
 day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
 duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
 campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
 pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
 previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000,
 previous  pdays       0.45482
 pdays     previous    0.45482
 dtype: float64)

In [36]:
top_correlated

previous  pdays       0.45482
pdays     previous    0.45482
dtype: float64

In [37]:
df['y'] = df['y'].replace({'yes': 1, 'no': 0})

df['y']

/var/folders/8t/dwgv44pj3r37qn67s2z3bpqw0000gn/T/ipykernel_17395/980590008.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['y'] = df['y'].replace({'yes': 1, 'no': 0})

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split


train_data, temp_data = train_test_split(df, test_size=0.4, random_state=42)
val_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)

len(train_data), len(val_data), len(test_data)

(27126, 9042, 9043)

In [41]:
y_train = train_data['y']

In [42]:
train_data.drop(columns=['y'], inplace=True, errors='ignore')

In [56]:
train_data.head(2)

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome
6377,45,entrepreneur,married,0,-100,1,2,27,may,240,6,-1,0,3
17236,29,services,single,1,166,0,0,28,jul,108,8,-1,0,3

In [59]:
from sklearn.metrics import mutual_info_score

categorical_columns = ['contact', 'education', 'housing', 'poutcome']
mutual_info_score(y_train, train_data['contact'])

np.float64(0.014213737915512704)

In [60]:
mutual_info_score(y_train, train_data['education'])

np.float64(0.002569607054500333)

In [61]:
mutual_info_score(y_train, train_data['housing'])

np.float64(0.009463539786600736)

In [62]:
mutual_info_score(y_train, train_data['poutcome'])

np.float64(0.029402540339375824)

In [66]:
y_val = val_data['y']
val_data.drop(columns=['y'], inplace=True, errors='ignore')

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_encoded = encoder.fit_transform(train_data)
X_val_encoded = encoder.transform(val_data)

# Train logistic regression model
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train_encoded, y_train)

# Predict on validation set
y_val_pred = model.predict(X_val_encoded)

# Calculate accuracy
accuracy = accuracy_score(y_val, y_val_pred)

# Round the accuracy to 2 decimal digits
accuracy_rounded = round(accuracy, 2)

accuracy_rounded

0.89